[submodule "submodules/microcompute"]
	path = submodules/microcompute
	url = git@github.com:kal39/microcompute.git
[submodule "submodules/microdoc"]
	path = submodules/microdoc
	url = git@github.com:kal39/microdoc.git
