[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3-stable
[submodule "deps/microcompute"]
	path = deps/microcompute
	url = git@github.com:kal39/microcompute.git
	branch = main
[submodule "deps/k_tools"]
	path = deps/k_tools
	url = git@github.com:kal39/k_tools.git
